<div class="contacts-admin">
    <h2>contacts</h2>
    <form>
        <table>
            <tr>
                <td class="label">email</td>
                <td>
                    <input type="text" name="email" required [(ngModel)]="email" #emailF="ngModel">
                </td>
            </tr>
            <tr>
                <td class="label">phone</td>
                <td>
                    <input type="text" name="phone" required [(ngModel)]="phone" #phoneF="ngModel">
                </td>
            </tr>
            <tr>
                <td class="label">address</td>
                <td>
                    <input type="text" name="address" required [(ngModel)]="address" (change)="geoCode(address)" #emailF="ngModel">
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    <div id="map" #map></div>
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td class="buttons">
                    <button (click)="save()">save</button>
                </td>
            </tr>
        </table>
    </form>
</div>